.order-screen-button-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 10px;
}

.order-amount-controls {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 8px;
}

.order-item-price {
    margin-top: 4px;
}

.order-total-panel {
    background-color: #FEFEFE;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 10px 22px 10px;
    padding: 16px;
    border: 1px solid #E5E7EB;

    box-shadow: 0px 4px 13px #00000012;
}

.total-text {
    font-size: 18px;
    font-weight: 600;
}

.total-price-text {
    font-size: 20px;
    font-weight: 600;
    color: #FF8D28;
}